/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus, input:focus, textarea:focus, button:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 300;
}

body {

    color: #565;
    line-height: 1.9;
    font-size: 15px;

}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}

.white-box {
    box-shadow: 0 0 10px #f5f5f5;
    padding: 30px;
}
input[type=text], input[type=email], input[type=password], input[type=tel], textarea {
    background: #f9f9f9;
    border: none;
    padding: 15px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
}
.contact-form input[type=submit] {
    width: auto;
    margin: 0;
}
.contact-form textarea {
    height: 120px;
    resize: none;
}
input[type="submit"], button[type="submit"] {
    background: #52b0fb;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
}
.colored-box {
    background: #52b0fb;
    padding: 30px;
    color: #fff;
    min-height: 458px;
}
.colored-box a {
    color: #fff;
}
.contact-info {
    position: relative;
    padding-left: 42px;
    margin-bottom: 30px;
}
.contact-info i.fa {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 20px;
}
.colored-box h4, .white-box h4 {
    font-weight: 400;
    margin-bottom: 40px;
}
.social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #333;
    background: #fff;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 3px #999;
    transition: .3s;
}
.social-icons a:hover {
    color: #52b0fb;
    box-shadow: 0 0 0;
}