	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ambulance:before { content: "\f100"; }
.flaticon-ambulance-1:before { content: "\f101"; }
.flaticon-band-aid:before { content: "\f102"; }
.flaticon-band-aid-1:before { content: "\f103"; }
.flaticon-band-aid-2:before { content: "\f104"; }
.flaticon-bandage:before { content: "\f105"; }
.flaticon-biological-hazard:before { content: "\f106"; }
.flaticon-blood:before { content: "\f107"; }
.flaticon-blood-1:before { content: "\f108"; }
.flaticon-blood-pressure-gauge:before { content: "\f109"; }
.flaticon-blood-test:before { content: "\f10a"; }
.flaticon-blood-transfusion:before { content: "\f10b"; }
.flaticon-blood-transfusion-1:before { content: "\f10c"; }
.flaticon-blood-transfusion-2:before { content: "\f10d"; }
.flaticon-blood-transfusion-3:before { content: "\f10e"; }
.flaticon-bone:before { content: "\f10f"; }
.flaticon-bones:before { content: "\f110"; }
.flaticon-bones-1:before { content: "\f111"; }
.flaticon-brain:before { content: "\f112"; }
.flaticon-brain-1:before { content: "\f113"; }
.flaticon-broken-bone:before { content: "\f114"; }
.flaticon-broken-bone-1:before { content: "\f115"; }
.flaticon-broken-leg:before { content: "\f116"; }
.flaticon-cardiogram:before { content: "\f117"; }
.flaticon-cells:before { content: "\f118"; }
.flaticon-circle:before { content: "\f119"; }
.flaticon-computer:before { content: "\f11a"; }
.flaticon-contact-lens:before { content: "\f11b"; }
.flaticon-cough:before { content: "\f11c"; }
.flaticon-cream:before { content: "\f11d"; }
.flaticon-crutch:before { content: "\f11e"; }
.flaticon-crutch-1:before { content: "\f11f"; }
.flaticon-crutch-2:before { content: "\f120"; }
.flaticon-dialysis:before { content: "\f121"; }
.flaticon-doctor:before { content: "\f122"; }
.flaticon-doctor-1:before { content: "\f123"; }
.flaticon-doctor-2:before { content: "\f124"; }
.flaticon-doctor-3:before { content: "\f125"; }
.flaticon-dropper:before { content: "\f126"; }
.flaticon-dropper-1:before { content: "\f127"; }
.flaticon-dropper-2:before { content: "\f128"; }
.flaticon-ear:before { content: "\f129"; }
.flaticon-electrocardiogram:before { content: "\f12a"; }
.flaticon-emergency-call:before { content: "\f12b"; }
.flaticon-eyedropper:before { content: "\f12c"; }
.flaticon-eyedropper-1:before { content: "\f12d"; }
.flaticon-female:before { content: "\f12e"; }
.flaticon-finger:before { content: "\f12f"; }
.flaticon-first-aid-kit:before { content: "\f130"; }
.flaticon-first-aid-kit-1:before { content: "\f131"; }
.flaticon-first-aid-kit-2:before { content: "\f132"; }
.flaticon-flask:before { content: "\f133"; }
.flaticon-flask-1:before { content: "\f134"; }
.flaticon-foot:before { content: "\f135"; }
.flaticon-footprint:before { content: "\f136"; }
.flaticon-half-moon:before { content: "\f137"; }
.flaticon-handicap:before { content: "\f138"; }
.flaticon-head:before { content: "\f139"; }
.flaticon-health-clinic:before { content: "\f13a"; }
.flaticon-heart:before { content: "\f13b"; }
.flaticon-helicopter:before { content: "\f13c"; }
.flaticon-helicopter-1:before { content: "\f13d"; }
.flaticon-hips:before { content: "\f13e"; }
.flaticon-hospital:before { content: "\f13f"; }
.flaticon-hospital-1:before { content: "\f140"; }
.flaticon-hospital-2:before { content: "\f141"; }
.flaticon-hospital-3:before { content: "\f142"; }
.flaticon-hospital-4:before { content: "\f143"; }
.flaticon-hospital-bed:before { content: "\f144"; }
.flaticon-hospital-bed-1:before { content: "\f145"; }
.flaticon-hospital-bed-2:before { content: "\f146"; }
.flaticon-injury:before { content: "\f147"; }
.flaticon-injury-1:before { content: "\f148"; }
.flaticon-injury-2:before { content: "\f149"; }
.flaticon-kidney:before { content: "\f14a"; }
.flaticon-kidneys:before { content: "\f14b"; }
.flaticon-kidneys-1:before { content: "\f14c"; }
.flaticon-laboratory:before { content: "\f14d"; }
.flaticon-laptop:before { content: "\f14e"; }
.flaticon-lungs:before { content: "\f14f"; }
.flaticon-male:before { content: "\f150"; }
.flaticon-medical-records:before { content: "\f151"; }
.flaticon-medical-records-1:before { content: "\f152"; }
.flaticon-medical-records-2:before { content: "\f153"; }
.flaticon-medicine:before { content: "\f154"; }
.flaticon-medicine-1:before { content: "\f155"; }
.flaticon-medicine-10:before { content: "\f156"; }
.flaticon-medicine-11:before { content: "\f157"; }
.flaticon-medicine-12:before { content: "\f158"; }
.flaticon-medicine-13:before { content: "\f159"; }
.flaticon-medicine-14:before { content: "\f15a"; }
.flaticon-medicine-2:before { content: "\f15b"; }
.flaticon-medicine-3:before { content: "\f15c"; }
.flaticon-medicine-4:before { content: "\f15d"; }
.flaticon-medicine-5:before { content: "\f15e"; }
.flaticon-medicine-6:before { content: "\f15f"; }
.flaticon-medicine-7:before { content: "\f160"; }
.flaticon-medicine-8:before { content: "\f161"; }
.flaticon-medicine-9:before { content: "\f162"; }
.flaticon-medicine-book:before { content: "\f163"; }
.flaticon-microscope:before { content: "\f164"; }
.flaticon-microscope-1:before { content: "\f165"; }
.flaticon-notepad:before { content: "\f166"; }
.flaticon-nurse:before { content: "\f167"; }
.flaticon-nurse-1:before { content: "\f168"; }
.flaticon-ophthalmology:before { content: "\f169"; }
.flaticon-pacient:before { content: "\f16a"; }
.flaticon-pharmaceutical:before { content: "\f16b"; }
.flaticon-pharmacy:before { content: "\f16c"; }
.flaticon-pill:before { content: "\f16d"; }
.flaticon-pill-1:before { content: "\f16e"; }
.flaticon-pills:before { content: "\f16f"; }
.flaticon-pills-1:before { content: "\f170"; }
.flaticon-placeholder:before { content: "\f171"; }
.flaticon-pliers:before { content: "\f172"; }
.flaticon-protection:before { content: "\f173"; }
.flaticon-radiation:before { content: "\f174"; }
.flaticon-ribbon:before { content: "\f175"; }
.flaticon-scalpel:before { content: "\f176"; }
.flaticon-scalpel-1:before { content: "\f177"; }
.flaticon-shopping-cart:before { content: "\f178"; }
.flaticon-shopping-cart-1:before { content: "\f179"; }
.flaticon-sign:before { content: "\f17a"; }
.flaticon-sign-1:before { content: "\f17b"; }
.flaticon-sign-2:before { content: "\f17c"; }
.flaticon-sign-3:before { content: "\f17d"; }
.flaticon-stomach:before { content: "\f17e"; }
.flaticon-stomach-1:before { content: "\f17f"; }
.flaticon-sunglasses:before { content: "\f180"; }
.flaticon-surgery:before { content: "\f181"; }
.flaticon-syringe:before { content: "\f182"; }
.flaticon-syringe-1:before { content: "\f183"; }
.flaticon-syringe-2:before { content: "\f184"; }
.flaticon-tablets:before { content: "\f185"; }
.flaticon-test-tube:before { content: "\f186"; }
.flaticon-test-tube-1:before { content: "\f187"; }
.flaticon-thermometer:before { content: "\f188"; }
.flaticon-thermometer-1:before { content: "\f189"; }
.flaticon-thermometer-2:before { content: "\f18a"; }
.flaticon-thermometer-3:before { content: "\f18b"; }
.flaticon-throat:before { content: "\f18c"; }
.flaticon-tooth:before { content: "\f18d"; }
.flaticon-tooth-1:before { content: "\f18e"; }
.flaticon-tooth-2:before { content: "\f18f"; }
.flaticon-uterus:before { content: "\f190"; }
.flaticon-walker:before { content: "\f191"; }
.flaticon-weight:before { content: "\f192"; }
.flaticon-x-ray:before { content: "\f193"; }
.flaticon-x-ray-1:before { content: "\f194"; }
.flaticon-x-ray-2:before { content: "\f195"; }